In [17]:
# from sklearn.datasets import load_iris
import sklearn.datasets as sdt
import pandas as pd

In [18]:
# datasets을 import 해서 scikit에서 제공하는 데이터셋을 가져올 수 있다.
# data = sdt.load_breast_cancer()
# data = sdt.load_breast_cancer()
# data = sdt.load_diabetes()
# 데이터셋 https://scikit-learn.org/stable/datasets/toy_dataset.html

# skikit dataset은 bunch 이며, 딕셔너리와 같다
data = sdt.load_iris()
print(data.keys())
print(data['target_names'])
print(data['feature_names'])

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])
['setosa' 'versicolor' 'virginica']
['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']

In [19]:
# 딕셔너리를 이용하여 판다 데이터프레임 만들기
# 데이터 키와 fature_name을 이용하여 데이터 프레임을 만든다
# 타겟 key를 이용하여 분류를 추가 한다.
# 타겟의 밸류와 타겟네임을 매칭 한다
df = pd.DataFrame(data=data.data,columns=data.feature_names)
df['target'] = pd.Series(data.target)
df['species'] = pd.Categorical.from_codes(data.target, data.target_names)
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,species
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2,virginica
146,6.3,2.5,5.0,1.9,2,virginica
147,6.5,3.0,5.2,2.0,2,virginica
148,6.2,3.4,5.4,2.3,2,virginica
149,5.9,3.0,5.1,1.8,2,virginica